# Файлы конфигурации и чувствительные данные
config.php
/includes/config*.php
/includes/config/db_config.php
connection.php
*.env

# Тестовые файлы и директории
/testcode/
/testcode
testcode/*.sql
testcode/*.php
testcode/**/*

# Временные файлы
*.log
*.tmp
*.bak
*.cache
*.swp
*~

# Папки, которые не нужно хранить в репозитории
/vendor/
/node_modules/
/temp/
/tmp/
/cache/

# Файлы среды разработки
.idea/
.vscode/
.DS_Store
Thumbs.db

# Папки загрузок пользователей (если есть)
/uploads/
/media/user-uploads/ 